<div class="row mt-5">
    <h3>Beneficiary</h3>
    <!-- {{account_id}} -->
      <div class="card text-center mb-2">
        <div class="card-body mb-3">
          <!-- <h5 class="card-title">Transfer</h5> -->
          <div class="card-text">
            <label >Enter Account Number</label>
            <input class="ms-3" type="text" name="account_number" id="account_number" [(ngModel)]="account_number">
        </div>
        <div class="card-footer text-muted mt-5">
            <div [ngSwitch]="verify" class="float-start">
                <div *ngSwitchCase="'pending'">verification pending</div>
                <div *ngSwitchCase="'noself'"><pre>cannot transfer money to your own account</pre></div>
                <div *ngSwitchCase="'verified'"><span style="color: green;"><h3>Verified</h3></span></div>
                <div *ngSwitchCase="'notExist'"><span style="color: red;">Account Number doesnot exist</span></div>
                <div *ngSwitchDefault>verification pending</div>
              </div>
            </div>
            <button (click)="onClickVerify()" type="button" class="btn btn-primary float-end mt-3">Verify Account</button>
        </div>
      </div>
      <div class="card text-center mt-5" *ngIf="verify=='verified'">
        <div class="card-body mb-3">
          <!-- <h5 class="card-title">Transfer</h5> -->
          <div class="card-text mb-3">
            <label >Enter Amount (in ₹) </label>
            <input class="ms-3" type="text" name="amount" id="amount" [(ngModel)]="amount">
        </div>
        <div class="card-footer text-muted mt-5">
            <button (click)="onSendAmount()" type="button" class="btn btn-secondary float-end mt-3">Send</button>
        </div>
      </div>
  </div>